.titleTl{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title >span{
	display: block;
	width: 250px;
	word-wrap: break-word;
	/* background-color: red; */
}
.list {
	list-style-type: none;
	padding-left: 0;
 }
 ul>li>span:nth-child(2){
width: 200px;
 word-wrap: break-word;
 }